
  <nav class= "navbar navbar-expand-lg navbar-light" style="background-color: #23ec8f; height: 10rem;">
    <img src="https://a-power.com/app/uploads/2020/01/38271028_9567622432-1-600x420.png" class="d-inline-block align-top" height="80rem" width="120rem" alt="">
    <a class="navbar-brand" href="#" style="color: white; font-size: 2rem;">Games Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="game-list-component" routerLinkActive="active" style="color: white; font-size: 2rem; padding-left: 2rem;">Games</a>
        <a class="nav-link" routerLink="publisher-list-component" routerLinkActive="active" style="color: white; font-size: 2rem; padding-left: 2rem;">Publishers</a>
        <a class="nav-link" routerLink="review-list-component" routerLinkActive="active" style="color: white; font-size: 2rem; padding-left: 2rem;">Reviews</a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

