

    <div class="card justify-content-center bg-transparent border-success" style="width: 18rem;">
        <img src="{{game.imageGame}}" style="height: 24rem; width: 18rem;" class="card-img-top" alt="...">
        <div class="card-body" style="border-color: #23ec8f; border: 100rem;">
          <h5 class="card-title">{{game.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Genre:</b>{{game.genre}}</li>
          <li class="list-group-item"><b>Platforms:</b>{{game.platforms}}</li>
          <li class="list-group-item"><b>ID:</b> {{game.id}}</li>
        </ul>
      </div>